/* 
    Theme: Company;
    author: Abdallah Mohamed;
    version: 1.0;
*/




/* ------------------- Header ------------------- */
.header .icont-color {
    color: #607D8B;
}

.header .navigation {
    padding-top: 0 ;
    padding-bottom: 0 ;
	background-color: #607D8B;
}

.header .navigation .navbar-brand {
    color: #fff;
    margin: 11px 0;
    font-size: 30px;
}

.header .navigation .navbar-toggler {
    color: #fff;
    font-size: 27px;
    border-color: transparent;
}

.header .navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    text-align: center;
}

.header .navigation .li-link {
    color: #fff;
    display: block;
    padding: 22px 2px;
    margin: 0 25px;
    text-decoration: none;
    transition: .3s;
}

.header .navigation .li-link:hover {
    color: #fbdbac;
}

.header .navigation .active {
	color: #fbdbac;
	border-bottom: 2px solid #fbdbac;
}

.header .carousel-caption {
    bottom: 45%;
}

.header .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9e9e9e;
}

.header .carousel-indicators .active {
    background-color: #c19864;
}

.header .carousel-item {
    height: 850px;
}

.header .img-item-second {
    background: linear-gradient(rgba(2, 3, 2, 0.55),rgba(0, 0, 0, 0.52)), url('/images/bus.png') center / cover;
}

.header .img-item-third {
    background: linear-gradient(rgba(2, 3, 2, 0.55),rgba(0, 0, 0, 0.52)), url('/images/camera.png') center / cover;
}

.header .text-p {
    font-size: 28px;
    color: #c2c2c3;
}

.header .text-h {
    font-size: 60px;
}

.header .btn-custom {
    margin-top: 10px;
    padding: 8px 15px;
    color: #fff;
    border-radius: 0;
    background-color: #607D8B;
}

.header .btn-custom:hover {
    color: #fff;
    background-color: #c19964ab;
}
/* End Header */




/* ------------------- Business ------------------- */
.business .information {
    padding: 75px 0;
    max-width: 548px;
    margin: 0 auto;
}

.business .information h3 {
    font-size: 30px;
    letter-spacing: 1.3px;
    margin-bottom: 50px;
}

.business .information h3::after {
    content: '';
    width: 90px;
    height: 1px;
    background-color: #c19864;
    position: absolute;
    left: 0;
    margin-top: 52px;
}

.business .information p {
    font-size: 14px;
}

.business .information .btn-read {
    color: #7b4e13;
    padding: 0;
}

.business .col-lg-6:nth-last-of-type(1) {
    padding: 0;
    height: 629px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/camera.png') center / cover;
}
/* End Business */




/* ------------------- Testimonials ------------------- */
.testimonials {
    padding: 80px 0;
    background-color: #f9f4f0;
}

.testimonials .icon {
    margin: 50px auto 0;
    width: 125px;
}

.testimonials h4 {
    margin: 15px 0;
    font-size: 20px;
}

.testimonials p {
    font-size: 14px;
    max-width: 190px;
    margin: auto;
}
/* End Testimonials */




/* ------------------- Projects ------------------- */
.projects {
    padding: 60px 0;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/images/replace-image.png') center / cover;
}

.projects h3 {
    font-size: 25px;
    margin-bottom: 60px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.projects p:nth-of-type(1) {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
/* End Projects */




/* ------------------- Our Team ------------------- */
.our-team {
    padding: 30px 0;
}

.our-team h3 {
    margin: 60px 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.our-team .team {
    margin-bottom: 20px;
    position: relative;
}

.our-team .team .link-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .7s ease;
    background-image: linear-gradient(rgba(231, 72, 72, 0.438), rgba(231, 72, 72, 0.438));
}

.our-team .team:hover .link-img {
    opacity: 1;
}

.our-team .team h4 {
    margin: 12px 0 6px 0;
    font-size: 21px;
}

.our-team .team .job {
    color: #6c757d;
    font-size: 13px;
}

.our-team .team p,
.our-team .team span {
    font-size: 14px;
}

.our-team .team p {
    margin: 7px 0;
}

.our-team .team span {
    color: #a05f08;
}
/* End Our Team */




/* ------------------- supporters ------------------- */
.supporters {
    margin: 60px 0 140px 0;
}

.supporters .icons-supp{
    width: 150px;
    margin: 10px 5px;
    align-self: center;
}
/* End supporters */




/* ------------------- Customer reviews ------------------- */
.customer-reviews {
    background-color: #f6f0e8;
}

.customer-reviews .client {
    padding: 70px 0;
}

.customer-reviews .client h3 {
    margin-bottom: 60px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.customer-reviews .client .avatar {
    max-width: 150px;
    margin: 0 0px 0 auto;
}

.customer-reviews .client .avatar h5 {
    font-size: 14px;
    margin-top: 3px;
}

.customer-reviews .client h4 {
    font-size: 15px;
    font-weight: 700;
} 

.customer-reviews .client .icont-star,
.customer-reviews .client p {
    font-size: 13px;
}

.customer-reviews .client .icon-star {
    color: #ffc107;
}
/* End Customer reviews */




/* ------------------- Footer ------------------- */
.footer {
    color: #ccc;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/images/background-footer.png') center / cover;
}

.footer .title-blogs,
.footer .title-story {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
}

.footer .row:nth-last-of-type(2) {
    padding: 60px 0;
}

.footer .about-us p {
    margin: 30px 0;
    font-size: 15px;
}

.footer .about-us .followers > span {
    color: #c19864;
    word-spacing: 3px;
    padding-bottom: 14px;
    display: block;
    border-bottom: 1px solid #63615f;
}

.footer .about-us .followers .icon-follow-us {
    padding: 14px 0 24px 0;
}

.footer .about-us .followers .icon-follow-us .m-icon-follow {
    margin: 0 6px;
    color: #c19864;
}

.footer .about-us .form {
    display: flex;
}

.footer .about-us .form input[type="email"] {
    border: 0;
    padding: 8px 12px 8px 11px;
}

.footer .about-us .form input[type="submit"] {
    border: 0;
    background-color: #c19864;
    color: #fff;
    padding: 0 30px;
}

.footer .blogs .content {
    margin-bottom: 7px;
}

.footer .blogs .content .col-3 {
    padding-right: 0;
}

.footer .blogs .content p {
    margin-bottom: 3px;
    font-size: 14px;
    color: #adb5bd;
}

.footer .blogs .content span {
    font-size: 13px;
    color: #c19864;
}

.footer .copyright {
    border-top: 1px solid #63615f;
}
/* End Footer */




/* ------------------- Response Mobile ------------------- */
@media (max-width: 514px) {

    /* Header */
    .header .contact .justify {
        justify-content: center;
    }

    .header .contact .mr-3 {
        margin-right: .6rem!important;
    }
    
    .header .contact .phone {
        margin-top: 12px;
    }

}

@media (max-width: 992px) {

    /* Header */
    .header .carousel-caption {
        bottom: 30%;
    }

    .header .text-p {
        font-size: 20px;
    }
    
    .header .text-h {
        font-size: 40px;
    }

    /* Testimonials */
    .testimonials p {
        font-size: 14px;
        max-width: 400px;
        margin: auto;
    }

    /* Customer reviews */
    .customer-reviews .client {
        text-align: center;
    }

    .customer-reviews .client .avatar {
        margin: 0 auto;
    }

    /* Blogs and Story */
    .footer .blogs,
    .footer .story {
        margin-top: 60px;
    }

    .footer .blogs h4,
    .footer .story h4 {
        font-size: 30px;
    }

}
/* End Response Mobile */